<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DuxCMS安装向导</title>
    {load_js('jquery')}
    {load_ui($sysPublic)}
    <link rel="stylesheet" href="__PUBLIC__/install/css/style.css">
</head>

<body>
    <nav class="uk-section-primary uk-dark">
        <div class="uk-container uk-navbar">
            <div class="uk-navbar-left">
                <a href="__ROOT__/" class="uk-navbar-item uk-logo dux-logo"><img width="48"
                        src="__PUBLIC__/images/logo-Invert.png" class="uk-margin-small-right"> DUX
                    <small>&</small>
                    CMS 内容管理系统</a>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                    安装向导
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body uk-card-small">
                    <ul class="uk-tab uk-tab-left">
                        <li><a href="#">使用协议</a></li>
                        <li><a href="#">环境监测</a></li>
                        <li class="uk-active"><a href="#">参数配置</a></li>
                        <li><a href="#">完成安装</a></li>
                    </ul>
                </div>

            </div>
            <div class="uk-width-3-4">
                <form class="uk-form uk-form-horizontal" action="{url('install')}" method="post">
                    <div class="uk-card uk-card-default uk-card-body ">
                        <h3>
                            数据库参数
                        </h3>
                        <hr>
                        <div class="uk-form-group">
                            <label class="uk-form-label">数据库类型</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" value="mysqlpdo" disabled>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据库地址</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="host" value="127.0.0.1" required>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据库端口</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="port" value="3306" required>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据库名称</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="dbname" value="" required>
                                <div class="uk-form-help">请手动创建数据库，数据库编码请使用utf8mb4</div>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据库用户名</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="username" value="root" required>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据库密码</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="password" value="">
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">数据表前缀</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="prefix" value="dux_" required>
                            </div>
                        </div>

                        <h3>
                            管理员参数
                        </h3>
                        <hr>

                        <div class="uk-form-group">
                            <label class="uk-form-label ">账号</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="admin_user" value="admin" required>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label ">密码</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="admin_pw" value="" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="uk-margin-top uk-text-right">
                        <a class="uk-button uk-button-danger" href="{url('detect')}">上一步</a>
                        <button type="submit" class="btn uk-button uk-button-primary">下一步</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>