<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DuxCMS安装向导</title>
    {load_js('jquery')}
    {load_ui($sysPublic)}
    <link rel="stylesheet" href="__PUBLIC__/install/css/style.css">
</head>
<body>
<nav class="uk-section-primary uk-dark">
    <div class="uk-container uk-navbar">
        <div class="uk-navbar-left">
            <a href="__ROOT__/" class="uk-navbar-item uk-logo dux-logo"><img width="48" src="__PUBLIC__/images/logo-Invert.png"
                                                                             class="uk-margin-small-right"
                                                                             > DUX
                <small>&</small>
                CMS 内容管理系统</a>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                安装向导
            </div>
        </div>
    </div>
</nav>
<br>
<div class="uk-container">
    <div class="uk-grid">
        <div class="uk-width-1-4">
            <div class="uk-card uk-card-default uk-card-body uk-card-small">
                <ul class="uk-tab uk-tab-left">
                    <li class="uk-active"><a href="#">使用协议</a></li>
                    <li><a href="#">环境监测</a></li>
                    <li><a href="#">参数配置</a></li>
                    <li><a href="#">完成安装</a></li>
                </ul>
            </div>

        </div>
        <div class="uk-width-3-4">
            <div class="uk-card uk-card-default uk-card-body ">
                <article class="uk-article">
                    <h1 class="uk-article-title">DuxCMS License</h1>
                    <p class="uk-article-meta"></p>
                </article>
                <div class="dux-content">
                    <p>Copyright (c) 2016 ~ 2018 DuxCMS</p>

                    <p>This software is provided 'as-is', without any express or implied
                    warranty. In no event will the authors be held liable for any damages
                    arising from the use of this software. </p>

                    <p>Permission is granted to anyone to use this software for any purpose,
                    including commercial applications, and to alter it and redistribute it
                    freely, subject to the following restrictions:</p>

                    <p>1. The origin of this software must not be misrepresented; you must not
                    claim that you wrote the original software. If you use this software
                    in a product, an acknowledgment in the product documentation would be
                    appreciated but is not required.</p>
                    <p>2. Altered source versions must be plainly marked as such, and must not be
                    misrepresented as being the original software.</p>
                    <p>3. This notice may not be removed or altered from any source distribution.</p>
                </div>
                <p>
                    DuxCMS使用 <a href="https://opensource.org/licenses/Zlib" target="_blank">Zilb License</a> 软件许可协议，如有关于许可协议问题请联系
                    <a href="mailto:admin@duxcms.com">admin@duxphp.com</a>
                </p>
            </div>

            <div class="uk-margin-top uk-text-right">

                <a class="uk-button uk-button-danger" href="javascript:alert('您已拒绝安装协议,请自行关闭窗口!');">拒绝</a>
                <a class="uk-button uk-button-primary" href="{url('detect')}">同意</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>