//uikit
$global-primary-background: #1e87f0 !default;
$global-success-background: #32d296 !default;
$global-warning-background: #faa05a !default;
$global-danger-background: #f0506e !default;
$global-link-color: #1e87f0 !default;
$global-link-hover-color: #0f6ecd !default;
$base-selection-background: #39f !default;
$text-primary-color: $global-primary-background !default;
$text-success-color: $global-success-background !default;
$text-warning-color: $global-warning-background !default;
$text-danger-color: $global-danger-background !default;

$aside-background: #333744 !default;
$aside-label: $global-primary-background !default;


//dux
@import "var";


@import "../../common/sass/dux";

@import "package/layout";
@import "package/fix";
@import "package/header";
@import "package/aside";
@import "package/nav";
@import "package/main";
@import "package/table";
@import "package/button";
@import "package/form";
@import "package/list";
@import "package/mobile";
@import "package/component";
@import "package/statis";


@import "component/notify";
