html {
  font-size: 16px;
}

.uk-breadcrumb {
  font-size: 1rem;
  padding: 10px 0;
}

.dux-logo {
  font-size: 18px;
  img {
    width: 45px;
    height: 45px;
  }
}

.dux-banner {
  background-image: url(../images/banner.webp);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-inner {
    text-align: center;
    h2 {
      color: #fff;
    }
    p {
      color: rgba(#fff, .7);
      font-size: 1.1rem;
    }
  }
}

.dux-info {
  margin-top: 50px;
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .info-divider {
    &::after {
      border-top-color: red;
    }
  }
  .info-box {
    margin-top: 50px;
    text-align: center;
    .image {
      img {
        width: 100px;
      }
    }
    h4 {
      margin: 20px 0;
      margin-bottom: 0px;
    }
    p {
      margin-top: 10px;
      color: #999;
      font-size: 1rem;
    }
  }
}

.dux-show {
  margin-top: 60px;
  padding-top: 40px;
  background: #f5f5f5;
  .show-item {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    h3 {
      font-weight: normal;
      font-size: 1.2rem;
      margin-top: 20px;
      a {
        color: #333;
      }
    }
    p {
      font-weight: normal;
      font-size: 1rem;
      color: #999
    }
  }
}

.dux-footer {
  .footer-item {
    padding-left: 80px;
  }
}

.dux-article {
  h1 {
    font-size: 1.8rem;
  }
  .article-content {
    font-size: 1rem;
    padding: 0 20px;
  }
}

.dux-page-banner {
  background-image: url(../images/page-banner.webp);
  background-position: center center;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-inner {
    text-align: center;
    h2 {
      color: #fff;
      margin: 0;
    }
  }
}

.dux-list {
  p {
    font-size: 1rem;
    color: #999;
  }
}

.dux-pages {
  padding-top: 20px;
  a,span {
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: .8rem;
    &.current {
      background-color: #0e90d2;
      border-color: #0e90d2;
      color: #fff;
    }

  }
}