
<form class="dux-form uk-form  uk-form-horizontal " data-dux="form-bind" method="post">

    <div class="uk-card uk-card-small uk-card-default dux-panel">

        <div class="uk-card-header">{$assignName}页面</div>
        <div class="uk-card-body">
            <fieldset>
                <div class="uk-flex">
                    <div class="uk-flex-1">
                        <div class="uk-form-group">
                            <label class="uk-form-label">上级页面</label>
                            <div class="uk-form-controls">
                                <select data-dux="form-select" name="parent_id" class="uk-select" required>
                                    <option value="0">==顶级页面==</option>
                                    <!--loop{(array)$classList as $vo}-->
                                    <option <!--if{$vo.page_id == $info.parent_id}--> selected <!--{/if}-->
                                    value="{$vo.page_id}">{$vo.cname}</option>
                                    <!--{/loop}-->
                                </select>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label">页面标题</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="text" name="name" value="{$info.name}" placeholder="请输入页面标题"
                                       required>
                            </div>
                        </div>
                        <div class="uk-form-group">
                            <label class="uk-form-label">页面信息</label>
                            <div class="uk-form-controls">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2"><input class="uk-input" type="number" name="sort" value="{$info.sort}"
                                                                     placeholder="页面顺序"></div>
                                    <div class="uk-width-1-2"><input class="uk-input" type="number" name="virtual_view" value="{$info.virtual_view}"
                                                                     placeholder="虚拟浏览量"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 200px;" class="uk-text-right">
                        <div class="uk-cover-container uk-height-medium uk-inline-clip uk-transition-toggle uk-light" style="width: 180px; height: 155px">
                            <img src="{$info.image ? $info.image : url('controller/tools/Placeholder/index', ['width' => 150, 'height' => 125])}" uk-cover  id="image-pic">
                            <div class="uk-position-center">
                                <a href="javascript:;" ><span data-dux="form-upload" data-target="#image" data-type="jpg,png,bmp" data-preview="#image-pic" class="uk-transition-fade" uk-marker></span></a>
                            </div>
                            <input type="hidden"  name="image" id="image" value="{$info.image}">
                        </div>
                    </div>
                </div>

                

                <div class="uk-form-group">
                    <label class="uk-form-label">正文内容</label>
                    <div class="uk-form-controls">
                        <textarea data-dux="form-editor" name="content" style="height: 400px">{$info.content}</textarea>
                    </div>
                </div>
                <div class="uk-form-group">
                    <label class="uk-form-label">关键词</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="keyword" value="{$info.keyword}" data-dux="form-tags" placeholder="可选,页面关键词">
                    </div>
                </div>
                <div class="uk-form-group">
                    <label class="uk-form-label">页面描述</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" name="description" placeholder="可选,页面描述">{$info.description}</textarea>
                    </div>
                </div>

                <div class="uk-form-group">
                    <label class="uk-form-label">模板名称</label>
                    <div class="uk-form-controls">
                        <div class="uk-input-group">
                            <input type="text"  class="uk-input" name="tpl" id="tpl" value="{$info.tpl}"
                                   placeholder="可选,针对传统内容模式设置模板">
                                    <span class="uk-input-group-label">
                                        .html
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="uk-form-group">
                    <label class=" uk-form-label">页面状态</label>
                    <div class="uk-form-controls uk-form-controls-text">
                        <?php $info['status'] = isset($info['status']) ? $info['status'] : 1;  ?>
                        <div class="uk-grid">
                            <label>
                                <!--if{$info['status']}-->
                                <input class="uk-radio" name="status" value="1" checked="checked" type="radio">
                                <!--{else}-->
                                <input class="uk-radio" name="status" value="1" type="radio">
                                <!--{/if}-->
                                发布
                            </label>
                            <label>
                                <!--if{!$info['status']}-->
                                <input class="uk-radio" name="status" checked="checked" value="0" type="radio">
                                <!--{else}-->
                                <input class="uk-radio" name="status" value="0" type="radio">
                                <!--{/if}-->
                                草稿
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-form-group">
                    <div class="uk-form-controls">
                        <input type="hidden" name="page_id" value="{$info.page_id}">
                        <button class="uk-button uk-button-primary" type="submit" disabled>保存</button>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

</form>
