<div class="dux-page-header uk-clearfix">
    <div class="page-title">
        <a class="uk-button uk-button-primary" href="{url('index')}"> 模板列表</a>
    </div>
    <div class="page-action">
        <a class="uk-button uk-button-danger" href="javascript:location.reload();"><i class="fa fa-refresh"></i></a>
    </div>
</div>

<div class="uk-margin-top">
    <div class="uk-card uk-card-small uk-card-default dux-panel">
        <div class="uk-card-header">{$assignName}模板</div>
        <div class="uk-card-body">
            <form class="dux-form uk-form  uk-form-horizontal  " data-dux="form-bind" method="post">
                <fieldset>
                    <div class="uk-form-group">
                        <label class=" uk-form-label">标题</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="text" name="title" value="{$info.title}" placeholder="请输入模板标题" required>
                        </div>
                    </div>
                    <div class="uk-form-group">
                        <label class=" uk-form-label">模板内容</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" name="content" placeholder="请输入模板内容" required>{$info.content}</textarea>
                        </div>
                    </div>
                    <div class="uk-form-group">
                        <div class="uk-form-controls">
                            <input type="hidden" name="tpl_id" value="{$info.tpl_id}">
                            <button class="uk-button uk-button-primary" type="submit" disabled>保存</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>