<div data-dux="table-bind" class="dux-table-layout">
    <div class="dux-page-header uk-clearfix">
        <div class="page-title">
            <a class="uk-button uk-button-primary" href="javascript:;" id="update"> 上传菜单</a>
        </div>
        <div class="page-action">
            <a class="uk-button uk-button-primary" href="{url('add')}">添加</a>
        </div>
    </div>
    <div class="dux-page-table">
        <table class="uk-table uk-table-hover uk-table-middle dux-table" data-table>
            <thead>
            <tr>
                <th>菜单名称</th>
                <th>菜单类型</th>
                <th class="uk-text-center" width="120">管理</th>
            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
                <td>{$vo.cname}</td>
                <td>
                    {$vo.type_name}
                </td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-primary uk-button-small" href="{url('edit', ['id'=>$vo[$pri]])}" title="编辑"><i class="fa fa-pencil"></i></a>
                    <a class="uk-button uk-button-danger uk-button-small" href="javascript:;" data-url="{url('del')}" data-id="{$vo[$pri]}" title="删除" data-del><i class=" fa fa-trash"></i></a>
                </td>
            </tr>
            <!--{/loop}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot uk-clearfix">
        {$page}
    </div>
</div>

<script>
    Do('base', function () {

        $('#update').click(function () {
            dialog.confirm({
                title : '上传菜单将删除现有菜单,请确认？',
                callback : [
                    function(index) {
                        dialog.msg('上传中,请稍等!', 200);
                        app.ajax({
                            url: '{url("updateMenu")}',
                            type: 'post',
                            data: {},
                            tip: false,
                            success: function (msg) {
                                dialog.close();
                                dialog.msg(msg);
                            },
                            error: function (msg, url) {
                                dialog.close();
                                dialog.msg(msg);
                            }
                        });
                    }
                ]
            });

        });

    });
</script>