<div data-dux="table-bind" class="dux-table-layout">
    <div class="dux-page-header uk-clearfix">
        <div class="page-title">
            <form class="dux-form uk-form  uk-form-inline" method="get" action="{url()}">
                <div class="uk-form-group">
                    <input type="text" name="keyword" class="uk-input" value="{$pageMaps.keyword}" placeholder="搜索">
                </div>
                <div class="uk-form-group">
                    <select name="type" class="uk-select">
                        <option value="">==标识==</option>
                        <!--loop{$typeList as $type => $vo}-->
                        <option value="{$type}" {$pageMaps.type==$type ? 'selected' : ''} >{$vo.name}</option>
                        <!--{/loop}-->
                    </select>
                </div>
                <div class="uk-form-group">
                    <button type="submit" class="uk-button uk-button-primary "><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="page-action">
            <a class="uk-button uk-button-primary" href="{url('add')}">添加</a>
        </div>
    </div>
    <div class="dux-page-table">
        <table class="uk-table    uk-table-hover uk-table-middle dux-table" data-table>
            <thead>
            <tr>
                <th width="100">#</th>
                <th>关键词</th>
                <th>搜索次数</th>
                <th>类型</th>
                <th>搜索时间</th>
                <th>更新时间</th>
                <th class="uk-text-center" width="120">管理</th>
            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
                <td>{$vo.search_id}</td>
                <td>{$vo.keyword}</td>
                <td>{$vo.num}</td>
                <td>{$typeList[$vo.app]['name'] ? $typeList[$vo.app]['name'] : $vo.app}</td>
                <td>{date('Y-m-d H:i:s', $vo.create_time)}</td>
                <td>{date('Y-m-d H:i:s', $vo.update_time)}</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-primary uk-button-small" href="{url('edit', ['id'=>$vo[$pri]])}" title="编辑"><i class="fa fa-pencil"></i></a>
                    <a class="uk-button uk-button-danger uk-button-small" href="javascript:;" data-url="{url('del')}" data-id="{$vo[$pri]}" title="删除" data-del><i class=" fa fa-trash"></i></a>
                </td>
            </tr>
            <!--{/loop}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot uk-clearfix">
        {$page}
    </div>
</div>